@charset 'utf-8';
/* COPYRIGHT 2016-2017 Gabriel Lasaro, Todos os direitos reservados. */
$fd_family:'Open Sans', sans-serif;
$fd_family2:Raleway, 'Open Sans', sans-serif;
$fd_size18:18px;
$fd_color:#303030;
$fd_margin:2px 2px 2px 20px;
$fd_padding:4px;
$boxshadow:0 3px 3px rgba(0,0,0,0.16), 0 3px 3px rgba(0,0,0,0.23);
body {
  padding:0px;
  margin:0px;
  background-color: #fff;
}
// INÍCIO: WIKIAR HOME BAR
.wikiar-home-bar {
  #logo{
    position: relative;
    width:150px;
    margin-left: -75px;
    left:50%;
    margin-top:14px;
  }
}
// FIM: WIKIAR CLASSIC BAR
.box_home{
  position:relative;
  width:100%;
  margin-left:0px;
  left:0px;
  // background:#fff000;
  margin-top:60px;
  .top{
    position:relative;
    width:80%;
    // margin-left:-450px;
    // left:50%;
    height:auto;
    // background:#303030;
    margin:8px 10% 60px 10%;
    a{
      text-decoration:none;
    }
    #left{
      // float:left;
      width:100%;
      height:auto;
      // background:#30ffff;
      img{
        width:100%;
        height:100%;
        background-size:100%;
        background-position:center center;
        background-repeat: no-repeat;
        box-shadow:$boxshadow;
      }
    }
    #right{
      // float:left;
      width:100%;
      height:auto;
      // background:#ffff00;
      #more{
        width:100%;
        // background:#ff0000;
        #title{
          text-align: left;
          font-weight:bold;
          margin: 0px;
          padding:10px;
          font-family:$fd_family;
          font-size: 16px;
          color: #303030;
        }
      }
      #profile{
        width:100%;
        img{
          width:40px;
          height:40px;
          border-radius:100%;
          margin:10px 0px 10px 10px;
        }
        p{
          display:inline-block;
          position:absolute;
          float:left;
          margin:18px 0px 0px 10px;
          font-family:$fd_family;
          font-size:$fd_size18;
          color:#808080;
        }
      }
    }
  }
}
.container-post{
  display:inline-block;
  position: relative;
  width:80%;
  margin:8px 10% 8px 10%;
  a{
    text-decoration:none;
  }
  img{
      width:100%;
      height:100%;
      background-size:100%;
      background-position:center center;
      background-repeat: no-repeat;
  }
  .div_profile{
    position:relative;
    width:100%;
    height:50px;
    img{
      width:40px;
      height:40px;
      border-radius:100%;
      margin:5px 0px 5px 5px;
    }
    p{
      display:inline-block;
      position:absolute;
      float:left;
      margin:14px 0px 0px 10px;
      font-family:$fd_family;
      font-size:14px;
      color:#808080;
    }
  }
  #more{
    position:relative;
    width:100%;
    margin-top:4px;
    #title{
      text-align: left;
      font-weight:bold;
      margin: 0px;
      padding:8px;
      font-family:$fd_family;
      font-size: 16px;
      color: #303030;
    }
  }
}
