@charset 'utf-8';
/* COPYRIGHT 2017 Gabriel Lasaro, Todos os direitos reservados. */
$boxshadow:0px 1px 1px #303030;
$fd_family:'Open Sans', sans-serif;
$fd_family2:Raleway, 'Open Sans', sans-serif;
$fd_size18:18px;
$fd_color:#303030;
$fd_margin:2px 2px 2px 20px;
$fd_padding:4px;
$boxshadow:0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

body {
  padding:0px;
  margin:0px;
  background-color: #fff;
}
// CONTAINER MSG
.container_msg{
  p{
    text-align: justify;
    font-family:$fd_family;
    font-size: 18px;
    color: $fd_color;
    padding: 4px;
    margin:10px 10px 10px 40px;
    // cursor: default;
    // text-transform: uppercase;
  }
  h2{
    text-align: left;
    font-family:$fd_family;
    font-size: 26px;
    color: $fd_color;
    padding: 4px;
    margin:40px 10px 10px 40px;
    // text-transform: uppercase;
  }
  a{
    color:#1E90FF;
    font-weight:bold;
    text-decoration:none;
  }
  img{
    text-align: center;
    margin:5px 10% 5px 10%;
    width: 80%;
  }
}
// CONTAINER PROFILE
.container_user{
  position:fixed;
  left:0px;
  top:50%;
  margin-top:-50px;
  padding:4px 4px 0px 4px;
  background:#303030;
  border-radius:0px 2px 2px 0px;
  img{
    width:50px;
    border-radius:100%;
  }
}
// FIM: CONTAINER PROFILE
hr {
  color: #808080;
  background-color: #808080;
  height: 1px;
  border: 0px solid;
  margin: 8px 10px 8px 10px;
}
